In [ ]:
!pip install rltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rltk
  Downloading rltk-2.0.0a20-py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.5/81.5 KB 3.5 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from rltk) (3.2.2)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from rltk) (1.3.5)
Collecting pyrallel.lib
  Downloading pyrallel.lib-0.0.10-py3-none-any.whl (24 kB)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from rltk) (1.7.3)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.8/dist-packages (from rltk) (1.21.6)
Requirement already satisfied: Cython>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from rltk) (0.29.33)
Requirement already satisfied: distributed>=1.23 in /usr/local/lib/python3.8/dist-packages (from rltk) (2022.2.1)
Requirement already satisfied: dask>=0.19.2 in /usr/local/lib/python3.8/dist-packages (from rltk) (2022.2.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from dask>=0.19.2->rltk) (23.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask>=0.19.2->rltk) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask>=0.19.2->rltk) (0.12.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from dask>=0.19.2->rltk) (2.2.1)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask>=0.19.2->rltk) (1.3.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from dask>=0.19.2->rltk) (2023.1.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (2.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (57.4.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (2.11.3)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (5.4.8)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (6.0.4)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (1.7.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (7.1.2)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (1.0.4)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.8/dist-packages (from distributed>=1.23->rltk) (2.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->rltk) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->rltk) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->rltk) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.0.0->rltk) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->rltk) (2022.7.1)
Collecting multiprocess>=0.70
  Downloading multiprocess-0.70.14-py38-none-any.whl (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.0/132.0 KB 8.3 MB/s eta 0:00:00
Requirement already satisfied: dill>=0.3 in /usr/local/lib/python3.8/dist-packages (from pyrallel.lib->rltk) (0.3.6)
Collecting typing>=3.6
  Downloading typing-3.7.4.3.tar.gz (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.6/78.6 KB 8.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask>=0.19.2->rltk) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=2.0.0->rltk) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.8/dist-packages (from zict>=0.1.3->distributed>=1.23->rltk) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->distributed>=1.23->rltk) (2.0.1)
Building wheels for collected packages: typing
  Building wheel for typing (setup.py) ... done
  Created wheel for typing: filename=typing-3.7.4.3-py3-none-any.whl size=26323 sha256=3f2e624745a8141d911353a6036ae48335105c6266c01a69b5e059b36c40193d
  Stored in directory: /root/.cache/pip/wheels/5e/5d/01/3083e091b57809dad979ea543def62d9d878950e3e74f0c930
Successfully built typing
Installing collected packages: typing, multiprocess, pyrallel.lib, rltk
Successfully installed multiprocess-0.70.14 pyrallel.lib-0.0.10 rltk-2.0.0a20 typing-3.7.4.3

In [ ]:
import pandas as pd
from IPython.display import display

In [ ]:
def print_stats(fp):

  print(fp)
  df_data = pd.read_csv(fp, encoding='latin-1')

  print('\nfirst 5 rows:')
  display(df_data.head(5))

  stat = []
  for i in range(df_data.shape[1]):
    stat.append(df_data.shape[0] - df_data.iloc[:,i].isnull().sum())
  df_stat = pd.DataFrame([stat], columns=df_data.columns.values.tolist())
  df_stat.rename(index={0: 'total'}, inplace=True)
  print('\ntotal number of rows:')
  display(df_stat.head(1))
  print('\n')

print_stats('/content/drive/MyDrive/dedupe_report/21-14/abt_train.csv')
print_stats('/content/drive/MyDrive/dedupe_report/21-14/buy_train.csv')
print_stats('/content/drive/MyDrive/dedupe_report/21-14/train.csv')

/content/drive/MyDrive/dedupe_report/21-14/abt_train.csv

first 5 rows:

,id,name,description,price
0,552,Sony Turntable - PSLX350H,Sony Turntable - PSLX350H/ Belt Drive System/ ...,NaN
1,580,Bose Acoustimass 5 Series III Speaker System -...,Bose Acoustimass 5 Series III Speaker System -...,$399.00
2,6742,Panasonic Yeast Pro Automatic Breadmaker - SDY...,Panasonic Yeast Pro Automatic Breadmaker - SDY...,NaN
3,9071,Sony 400 Disc MegaStorage CD Changer - CDPCX455,Sony 400 Disc MegaStorage CD Changer - CDPCX45...,NaN
4,9546,Frigidaire 24' White Built-In Dishwasher - FDB...,Frigidaire 24' FDB130RGS White Built-In Dishwa...,$229.00

total number of rows:

        id  name  description  price
total  349   349          349    144

/content/drive/MyDrive/dedupe_report/21-14/buy_train.csv

first 5 rows:

,id,name,description,manufacturer,price
0,10315184,Netgear ProSafe JFS516 Ethernet Switch,Netgear ProSafe 16 Port 10/100 Rackmount Switc...,Netgear,NaN
1,10333846,Linksys EtherFast EF4116 Ethernet Switch,16 x 10/100Base-TX LAN,LINKSYS,NaN
2,10346525,Linksys G Wireless-G WET54G Wireless Bridge,54Mbps - 1 x 10/100Base-TX,LINKSYS,NaN
3,10353206,Netgear ProSafe GS105 Ethernet Switch - GS105NA,NETGEAR ProSafe 5 Port Gigabit Desktop Switch,Netgear,NaN
4,10363243,Belkin AC Anywhere 300W Power Inverter - F5C40...,Input Voltage:12V DC - Output Voltage:110V AC ...,Belkin,NaN

total number of rows:

        id  name  description  manufacturer  price
total  352   352          215           352    190

/content/drive/MyDrive/dedupe_report/21-14/train.csv

first 5 rows:

     id1        id2  label
0  32512  207875395  False
1  34609  207543190  False
2  37796  206722262  False
3  30962  205599984  False
4  33271  209253739  False

total number of rows:

       id1  id2  label
total   35   35     35

In [ ]:
import rltk

In [ ]:
tokenizer = rltk.CRFTokenizer()

def tokenize(s):
  tokens = tokenizer.tokenize(s)
  return [w.lower() for w in tokens if w.isalpha()]

In [ ]:
# tokenizer = rltk.CRFTokenizer()

# model_stop_words = set([])
# with open('/content/drive/MyDrive/RLTK/stop_words_model.txt') as f:
#   #collecting stop words on model of item as mostly they are colors as it doesn't contribute towards distinguishing if the item is different
#   for line in f:
#     line = line.strip().lower()
#     if line:
#       model_stop_words.add(line)

# def extract_possible_model(s):
#   # here models may be written in different way so we get the smallest representation of that model
#   # Also here it is assumed that numbers will be there in model name
#   possible_models = []
#   tokens = s.split(' ')

#   for t in tokens:

#     t = t.replace('(', '').replace(')', '')
#     if len(t) < 2 or t in model_stop_words:
#       continue

#     if t.isdigit():
#       possible_models.append(t)
#       continue

#       has_digit = has_alpha = False
#       for c in t:
#         if c.isdigit():
#           has_digit = True
#         elif c.isalpha():
#           has_alpha = True
#         if has_digit and has_alpha:
#           possible_models.append(t)

#   possible_models.sort(key=len, reverse=True)

#   return possible_models[0] if len(possible_models) > 0 else ''


# def tokenize(s):
#   tokens = tokenizer.tokenize(s)
#   return [w.lower() for w in tokens if w.isalpha()]


# def get_brand_name(tokens):
#   #getting brand name within the text
#   for word_len in range(min(5, len(tokens)), 0, -1):
#     i = 0; j = i + word_len
#     while j <= len(tokens):
#       name = ' '.join(tokens[i:j])
#       if name in brand_list:
#           return name
#       i += 1; j += 1
#   return ''


# def process_brand_alias(alias):
#   #mapping the word into alias if exist
#   return brand_mapping.get(alias, alias)


# brand_list = set([])
# with open('/content/drive/MyDrive/RLTK/brands.txt') as f:
#   for line in f:
#     line = line.strip().lower()
#     if len(line) == 0:
#       continue
#     brand_list.add(' '.join(tokenize(line)))

# brand_mapping = {}
# with open('/content/drive/MyDrive/RLTK/brand_alias.txt') as f:
#   for line in f:
#     alias = [w.strip().lower() for w in line.split('|')]
#     for name in alias:
#       brand_mapping[name] = alias[0]

In [ ]:
@rltk.remove_raw_object
class AbtRecord(rltk.Record):
  def __init__(self, raw_object):
    super().__init__(raw_object)
    self.brand = ''

  @rltk.cached_property
  def id(self):
    return self.raw_object['id']

  @rltk.cached_property
  def name(self):
    return self.raw_object['name'].split(' - ')[0]

  @rltk.cached_property
  def name_tokens(self):
    tokens = tokenize(self.name)

    # self.brand = get_brand_name(tokens)

    return set(tokens)

  @rltk.cached_property
  def description(self):
    return self.raw_object.get('description', '')

  @rltk.cached_property
  def price(self):
    p = self.raw_object.get('price', '')
    if p.startswith('$'):
      p = p[1:].replace(',', '')
    return p

  # @rltk.cached_property
  # def model(self):
  #   ss = self.raw_object['name'].split(' - ')
  #   return ss[-1].strip() if len(ss) > 1 else ''

  # @rltk.cached_property
  # def brand_cleaned(self):
  #   _ = self.name_tokens
  #   return process_brand_alias(self.brand)

  # @rltk.cached_property
  # def model_cleaned(self):
  #   m = self.model
  #   return m.lower().replace('-', '').replace('/', '').replace('&', '')

In [ ]:
@rltk.remove_raw_object
class BuyRecord(rltk.Record):
  def __init__(self, raw_object):
    super().__init__(raw_object)
    self.brand = ''

  @rltk.cached_property
  def id(self):
    return self.raw_object['id']

  @rltk.cached_property
  def name(self):
    return self.raw_object['name'].split(' - ')[0]

  @rltk.cached_property
  def name_tokens(self):
    tokens = tokenize(self.name)
    # self.brand = get_brand_name(tokens)
    return set(tokens)

  @rltk.cached_property
  def description(self):
    return self.raw_object.get('description', '')

  @rltk.cached_property
  def manufacturer(self):
    return self.raw_object.get('manufacturer', '').lower()

  @rltk.cached_property
  def price(self):
    p = self.raw_object.get('price', '')
    if p.startswith('$'):
      p = p[1:].replace(',', '')
    return p

  # @rltk.cached_property
  # def model(self):
  #   ss = self.raw_object['name'].split(' - ')
  #   ss = ss[0].strip()

  #   return extract_possible_model(ss)

  # @rltk.cached_property
  # def name_suffix(self): # could probably be the model
  #   ss = self.raw_object['name'].split(' - ')
  #   return BuyRecord._clean(ss[-1]) if len(ss) > 1 else ''

  # @staticmethod
  # def _clean(s):
  #   return s.lower().replace('-', '').replace('/', '').replace('&', '')

  # @rltk.cached_property
  # def brand_cleaned(self):
  #   _ = self.name_tokens
  #   manufacturer = self.manufacturer
  #   return process_brand_alias(manufacturer if manufacturer != '' else self.brand)

  # @rltk.cached_property
  # def model_cleaned(self):
  #   m = self.model
  #   return BuyRecord._clean(m)

In [ ]:
ds_abt_train = rltk.Dataset(reader=rltk.CSVReader(open('/content/drive/MyDrive/dedupe_report/21-14/abt_train.csv', encoding='latin-1')),
                   record_class=AbtRecord, adapter=rltk.MemoryKeyValueAdapter())

ds_buy_train = rltk.Dataset(reader=rltk.CSVReader(open('/content/drive/MyDrive/dedupe_report/21-14/buy_train.csv', encoding='latin-1')),
                   record_class=BuyRecord, adapter=rltk.MemoryKeyValueAdapter())

In [ ]:
for abt in ds_buy.head():
  print(f"Id: {abt.id} Name:{abt.name} Name_Token:{abt.name_tokens} Description: {abt.description} Manufacturer:{abt.manufacturer} Price:{abt.price} Model:{abt.model} Name suffix:{abt.name_suffix} Clean:{abt._clean} Brand Cleaned:{abt.brand_cleaned} Model Cleaned{abt.model_cleaned}")

Id: 10011646 Name:Linksys EtherFast EZXS88W Ethernet Switch Name_Token:{'ethernet', 'etherfast', 'linksys', 'switch'} Description: Linksys EtherFast 8-Port 10/100 Switch (New/Workgroup) Manufacturer:linksys Price: Model: Name suffix:ezxs88w Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:linksys Model Cleaned
Id: 10140760 Name:Linksys EtherFast EZXS55W Ethernet Switch Name_Token:{'ethernet', 'etherfast', 'linksys', 'switch'} Description: 5 x 10/100Base-TX LAN Manufacturer:linksys Price: Model: Name suffix: Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:linksys Model Cleaned
Id: 10221960 Name:Netgear ProSafe FS105 Ethernet Switch Name_Token:{'ethernet', 'prosafe', 'netgear', 'switch'} Description: NETGEAR FS105 Prosafe 5 Port 10/100 Desktop Switch Manufacturer:netgear Price: Model: Name suffix:fs105na Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:netgear Model Cleaned
Id: 10246269 Name:Belkin Pro Series High Integrity VGA/SVGA Monitor Extension Cable Name_Token:{'monitor', 'series', 'high', 'cable', 'vga', 'belkin', 'extension', 'integrity', 'svga', 'pro'} Description: 1 x HD-15 - 1 x HD-15 - 10ft - Beige Manufacturer:belkin Price: Model: Name suffix:f3h98210 Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:belkin Model Cleaned
Id: 10315184 Name:Netgear ProSafe JFS516 Ethernet Switch Name_Token:{'ethernet', 'prosafe', 'netgear', 'switch'} Description: Netgear ProSafe 16 Port 10/100 Rackmount Switch- JFS516NA Manufacturer:netgear Price: Model: Name suffix: Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:netgear Model Cleaned
Id: 10316920 Name:LaCie Pocket Floppy Disk Drive Name_Token:{'lacie', 'floppy', 'disk', 'pocket', 'drive'} Description: LaCie Pocket USB Floppy 1.44 MB Manufacturer:lacie Price: Model: Name suffix:706018 Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:lacie Model Cleaned
Id: 10326220 Name:Canon KP 36IP Print Cartridge / Paper Kit Name_Token:{'canon', 'paper', 'kp', 'kit', 'cartridge', 'print'} Description: 36 Page 4' x 6' Manufacturer:canon Price:9.99 Model: Name suffix:7737a001 Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:canon Model Cleaned
Id: 10333368 Name:Kensington Orbit Optical Trackball Name_Token:{'trackball', 'orbit', 'kensington', 'optical'} Description: Optical - USB, PS/2 Manufacturer:kensington Price: Model: Name suffix:64327 Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:kensington Model Cleaned
Id: 10333846 Name:Linksys EtherFast EF4116 Ethernet Switch Name_Token:{'ethernet', 'etherfast', 'linksys', 'switch'} Description: 16 x 10/100Base-TX LAN Manufacturer:linksys Price: Model: Name suffix: Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:linksys Model Cleaned
Id: 10333848 Name:Linksys EtherFast EF4124 Ethernet Switch Name_Token:{'ethernet', 'etherfast', 'linksys', 'switch'} Description: 24 x 10/100Base-TX LAN Manufacturer:linksys Price:64.99 Model: Name suffix: Clean:<function BuyRecord._clean at 0x7f15d5608f70> Brand Cleaned:linksys Model Cleaned

In [ ]:
def simple_ngram(s, n=3):
  return [s[i:i + n] for i in range(len(s) - (n - 1))]

In [ ]:
bg = rltk.TokenBlockGenerator()
block = bg.generate(
    bg.block(ds_abt_train, function_=lambda r: simple_ngram(r.name, 3)),
    bg.block(ds_buy_train, function_=lambda r: simple_ngram(r.name, 3))
)

In [ ]:
for idx, b in enumerate(block.key_set_adapter):
  if idx == 5: break
  print(b)

('Son', {('AbtRecord', '21297'), ('AbtRecord', '33209'), ('BuyRecord', '208112356'), ('BuyRecord', '90132241'), ('AbtRecord', '34624'), ('BuyRecord', '204327516'), ('BuyRecord', '209307663'), ('BuyRecord', '207338879'), ('AbtRecord', '34968'), ('AbtRecord', '38001'), ('AbtRecord', '34836'), ('BuyRecord', '208504340'), ('AbtRecord', '28500'), ('BuyRecord', '207910212'), ('BuyRecord', '210441166'), ('AbtRecord', '9071'), ('AbtRecord', '34723'), ('AbtRecord', '34552'), ('AbtRecord', '37309'), ('AbtRecord', '31020'), ('AbtRecord', '33443'), ('BuyRecord', '203022472'), ('AbtRecord', '33763'), ('AbtRecord', '33485'), ('AbtRecord', '19672'), ('BuyRecord', '208653765'), ('AbtRecord', '28138'), ('AbtRecord', '33444'), ('BuyRecord', '207390652'), ('BuyRecord', '210402319'), ('AbtRecord', '34941'), ('BuyRecord', '208504187'), ('BuyRecord', '209871973'), ('AbtRecord', '31273'), ('AbtRecord', '32560'), ('AbtRecord', '38773'), ('BuyRecord', '206725966'), ('AbtRecord', '35194'), ('BuyRecord', '208504304'), ('AbtRecord', '35201'), ('BuyRecord', '203024998'), ('AbtRecord', '34894'), ('BuyRecord', '207390171'), ('AbtRecord', '37310'), ('AbtRecord', '16309'), ('BuyRecord', '203088013'), ('BuyRecord', '207959814'), ('AbtRecord', '30457'), ('AbtRecord', '34370'), ('BuyRecord', '208792604'), ('BuyRecord', '209297152'), ('BuyRecord', '208504297'), ('AbtRecord', '27783'), ('BuyRecord', '207390706'), ('AbtRecord', '34638'), ('BuyRecord', '202070149'), ('BuyRecord', '207540310'), ('AbtRecord', '552'), ('BuyRecord', '205835447'), ('BuyRecord', '209901964'), ('BuyRecord', '90145444'), ('BuyRecord', '203445749'), ('AbtRecord', '38492'), ('AbtRecord', '30955'), ('BuyRecord', '208504318'), ('AbtRecord', '28059'), ('AbtRecord', '36143'), ('AbtRecord', '36001'), ('AbtRecord', '34378'), ('AbtRecord', '34854'), ('AbtRecord', '32561'), ('BuyRecord', '207934191'), ('BuyRecord', '208653775'), ('BuyRecord', '205592435'), ('BuyRecord', '208504307'), ('BuyRecord', '202293522'), ('BuyRecord', '207666380'), ('AbtRecord', '34899'), ('AbtRecord', '37322'), ('BuyRecord', '209901966'), ('BuyRecord', '205852387'), ('BuyRecord', '209297157'), ('AbtRecord', '33758'), ('AbtRecord', '33175'), ('BuyRecord', '207542598'), ('BuyRecord', '203086857'), ('AbtRecord', '35185'), ('BuyRecord', '208504423'), ('AbtRecord', '20447')})
('ony', {('AbtRecord', '21297'), ('AbtRecord', '33209'), ('BuyRecord', '208112356'), ('BuyRecord', '90132241'), ('AbtRecord', '34624'), ('BuyRecord', '204327516'), ('BuyRecord', '209307663'), ('BuyRecord', '207338879'), ('AbtRecord', '34968'), ('AbtRecord', '38001'), ('AbtRecord', '26615'), ('AbtRecord', '34836'), ('BuyRecord', '208504340'), ('AbtRecord', '28500'), ('BuyRecord', '207910212'), ('BuyRecord', '210441166'), ('AbtRecord', '9071'), ('AbtRecord', '34723'), ('AbtRecord', '34552'), ('AbtRecord', '37309'), ('AbtRecord', '31020'), ('AbtRecord', '33443'), ('BuyRecord', '203022472'), ('AbtRecord', '33763'), ('AbtRecord', '33485'), ('AbtRecord', '19672'), ('BuyRecord', '208653765'), ('AbtRecord', '28138'), ('AbtRecord', '33444'), ('BuyRecord', '207390652'), ('AbtRecord', '34941'), ('BuyRecord', '208504187'), ('BuyRecord', '209871973'), ('AbtRecord', '31273'), ('AbtRecord', '32560'), ('BuyRecord', '203329569'), ('AbtRecord', '38773'), ('BuyRecord', '206725966'), ('AbtRecord', '35194'), ('BuyRecord', '208504304'), ('AbtRecord', '35201'), ('BuyRecord', '203024998'), ('AbtRecord', '34894'), ('BuyRecord', '207390171'), ('AbtRecord', '37310'), ('AbtRecord', '16309'), ('BuyRecord', '203088013'), ('BuyRecord', '207959814'), ('AbtRecord', '30457'), ('AbtRecord', '34370'), ('BuyRecord', '208792604'), ('BuyRecord', '209297152'), ('BuyRecord', '208504297'), ('AbtRecord', '27783'), ('BuyRecord', '207390706'), ('AbtRecord', '34638'), ('BuyRecord', '202070149'), ('BuyRecord', '207540310'), ('AbtRecord', '552'), ('BuyRecord', '205835447'), ('BuyRecord', '209901964'), ('BuyRecord', '90145444'), ('BuyRecord', '203445749'), ('AbtRecord', '38492'), ('AbtRecord', '30955'), ('BuyRecord', '208504318'), ('AbtRecord', '28059'), ('AbtRecord', '36143'), ('AbtRecord', '36001'), ('AbtRecord', '34854'), ('AbtRecord', '32561'), ('BuyRecord', '207934191'), ('BuyRecord', '208653775'), ('BuyRecord', '205592435'), ('BuyRecord', '208504307'), ('BuyRecord', '202293522'), ('BuyRecord', '207666380'), ('AbtRecord', '34899'), ('AbtRecord', '37322'), ('BuyRecord', '209901966'), ('BuyRecord', '202238311'), ('BuyRecord', '205852387'), ('BuyRecord', '209297157'), ('AbtRecord', '33758'), ('AbtRecord', '33175'), ('BuyRecord', '207542598'), ('BuyRecord', '203086857'), ('AbtRecord', '35185'), ('BuyRecord', '208504423'), ('AbtRecord', '20447')})
('ny ', {('AbtRecord', '21297'), ('AbtRecord', '33209'), ('BuyRecord', '208112356'), ('BuyRecord', '90132241'), ('AbtRecord', '34624'), ('BuyRecord', '204327516'), ('BuyRecord', '209307663'), ('BuyRecord', '207338879'), ('AbtRecord', '34968'), ('AbtRecord', '38001'), ('AbtRecord', '26615'), ('AbtRecord', '34836'), ('BuyRecord', '208504340'), ('AbtRecord', '28500'), ('BuyRecord', '207910212'), ('BuyRecord', '210441166'), ('AbtRecord', '9071'), ('AbtRecord', '34723'), ('AbtRecord', '34552'), ('AbtRecord', '37309'), ('AbtRecord', '31020'), ('AbtRecord', '33443'), ('BuyRecord', '203022472'), ('AbtRecord', '33763'), ('AbtRecord', '33485'), ('AbtRecord', '19672'), ('BuyRecord', '208653765'), ('AbtRecord', '28138'), ('AbtRecord', '33444'), ('BuyRecord', '207390652'), ('AbtRecord', '34941'), ('BuyRecord', '208504187'), ('BuyRecord', '209871973'), ('AbtRecord', '31273'), ('AbtRecord', '32560'), ('BuyRecord', '203329569'), ('AbtRecord', '38773'), ('BuyRecord', '206725966'), ('AbtRecord', '35194'), ('BuyRecord', '208504304'), ('AbtRecord', '35201'), ('BuyRecord', '203024998'), ('AbtRecord', '34894'), ('BuyRecord', '207390171'), ('AbtRecord', '37310'), ('AbtRecord', '16309'), ('BuyRecord', '203088013'), ('BuyRecord', '207959814'), ('AbtRecord', '30457'), ('AbtRecord', '34370'), ('BuyRecord', '208792604'), ('BuyRecord', '209297152'), ('BuyRecord', '208504297'), ('AbtRecord', '27783'), ('BuyRecord', '207390706'), ('AbtRecord', '34638'), ('BuyRecord', '202070149'), ('BuyRecord', '207540310'), ('AbtRecord', '552'), ('BuyRecord', '205835447'), ('BuyRecord', '209901964'), ('BuyRecord', '90145444'), ('BuyRecord', '203445749'), ('AbtRecord', '38492'), ('AbtRecord', '30955'), ('BuyRecord', '208504318'), ('AbtRecord', '28059'), ('AbtRecord', '36143'), ('AbtRecord', '36001'), ('AbtRecord', '34854'), ('AbtRecord', '32561'), ('BuyRecord', '207934191'), ('BuyRecord', '208653775'), ('BuyRecord', '205592435'), ('BuyRecord', '208504307'), ('BuyRecord', '202293522'), ('BuyRecord', '207666380'), ('AbtRecord', '34899'), ('AbtRecord', '37322'), ('BuyRecord', '209901966'), ('BuyRecord', '202238311'), ('BuyRecord', '205852387'), ('BuyRecord', '209297157'), ('AbtRecord', '33758'), ('AbtRecord', '33175'), ('BuyRecord', '207542598'), ('BuyRecord', '203086857'), ('AbtRecord', '35185'), ('BuyRecord', '208504423'), ('AbtRecord', '20447')})
('y T', {('AbtRecord', '552'), ('AbtRecord', '38492')})
(' Tu', {('AbtRecord', '25111'), ('AbtRecord', '24693'), ('BuyRecord', '204832843'), ('BuyRecord', '90132241'), ('BuyRecord', '206898357'), ('AbtRecord', '552'), ('BuyRecord', '203884610'), ('BuyRecord', '203087681'), ('BuyRecord', '202900041'), ('AbtRecord', '29304'), ('AbtRecord', '32744'), ('BuyRecord', '203024425'), ('BuyRecord', '206901618'), ('AbtRecord', '31337'), ('AbtRecord', '10640')})

In [ ]:
!pip install affinegap

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting affinegap
  Downloading affinegap-1.12-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.0/57.0 KB 3.6 MB/s eta 0:00:00
Installing collected packages: affinegap
Successfully installed affinegap-1.12

In [ ]:
import affinegap
d1 = affinegap.affineGapDistance('angie', 'angelica')
d2 = affinegap.affineGapDistance('angie', 'angelica',
                                 matchWeight = 1,
                                 mismatchWeight = 11,
                                 gapWeight = 10,
                                 spaceWeight = 7,
                                 abbreviation_scale = .125)
d3 = affinegap.normalizedAffineGapDistance('angie', 'angelica')

In [ ]:
d1,d2,d3

(28.875, 28.875, 2.221153736114502)

In [ ]:
tfidf = rltk.TF_IDF()
for r in ds_abt_train:
  tfidf.add_document(r.id, r.name_tokens)
for r in ds_buy_train:
  tfidf.add_document(r.id, r.name_tokens)
tfidf.pre_compute()

def generate_feature_vector(r_abt, r_buy):
  abt_name = r_abt.name
  buy_name = r_buy.name

  abt_description = r_abt.description
  buy_description = r_buy.description

  abt_price = r_abt.price
  buy_price = r_buy.price

  affine_distance_name = affinegap.affineGapDistance(abt_name,buy_name)
  affine_distance_description = affinegap.affineGapDistance(abt_description,buy_description)

  tfidf_score = tfidf.similarity(r_abt.id, r_buy.id)

  jaccard_score = rltk.jaccard_index_similarity(r_abt.name_tokens, r_buy.name_tokens)

  # price
  if r_abt.price and r_buy.price:
    abt_price = float(r_abt.price)
    buy_price = float(r_buy.price)
    if abt_price == 0 and buy_price == 0:
      price_difference = 0
    else:
      price_difference = float(abs(abt_price - buy_price)) / max(abt_price, buy_price)
  else:
    price_difference = 0

  return [affine_distance_name,affine_distance_description,tfidf_score,jaccard_score,price_difference]

In [ ]:
# tfidf = rltk.TF_IDF()
# for r in ds_abt_train:
#   tfidf.add_document(r.id, r.name_tokens)
# for r in ds_buy_train:
#   tfidf.add_document(r.id, r.name_tokens)
# tfidf.pre_compute()

# def generate_feature_vector(r_abt, r_buy):
#     # brand
#   brand_score = 0.2
#   brand_marker = 0
#   if r_abt.brand_cleaned and r_buy.brand_cleaned:
#     if r_abt.brand_cleaned == r_buy.brand_cleaned:
#       brand_score = 1
#       brand_marker = 1


#   # model 1
#   model_score = 0.2
#   model_marker = 0
#   if r_abt.model_cleaned and r_buy.model_cleaned:
#     if r_abt.model_cleaned == r_buy.model_cleaned:
#       model_score = 1
#       model_marker = 1
#     else:
#       if len(r_abt.model_cleaned) > len(r_buy.model_cleaned):
#         if r_abt.model_cleaned.startswith(r_buy.model_cleaned) \
#                 or r_abt.model_cleaned.endswith(r_buy.model_cleaned):
#           model_score = 1
#           model_marker = 1
#         else:
#           model_score = rltk.levenshtein_similarity(r_abt.model_cleaned, r_buy.model_cleaned)
#       elif len(r_abt.model_cleaned) < len(r_buy.model_cleaned):
#         if r_buy.model_cleaned.startswith(r_abt.model_cleaned) \
#                 or r_buy.model_cleaned.endswith(r_abt.model_cleaned):
#           model_score = 1
#           model_marker = 1
#         else:
#           model_score = rltk.levenshtein_similarity(r_abt.model_cleaned, r_buy.model_cleaned)
#       else:
#         model_score = 0

#   # model 2
#   model2_score = rltk.levenshtein_similarity(r_abt.model_cleaned, r_buy.name_suffix)

#   # name tokens jaccard
#   jaccard_score = rltk.jaccard_index_similarity(r_abt.name_tokens, r_buy.name_tokens)

#   tfidf_score = tfidf.similarity(r_abt.id, r_buy.id)

#   # price
#   if r_abt.price and r_buy.price:
#     price_marker = 1
#     abt_price = float(r_abt.price)
#     buy_price = float(r_buy.price)
#     if abt_price == 0 and buy_price == 0:
#       price_difference = 0
#     else:
#       price_difference = float(abs(abt_price - buy_price)) / max(abt_price, buy_price)
#   else:
#     price_marker = 0
#     price_difference = 0

#   return [brand_score, brand_marker, model_score, model_marker,
#           model2_score, jaccard_score, tfidf_score, price_difference, price_marker]

In [ ]:
gt_train = rltk.GroundTruth()
with open('/content/drive/MyDrive/dedupe_report/21-14/train.csv', encoding='latin-1') as f:
  for d in rltk.CSVReader(f): # this can be replace to python csv reader
    print(d['label'])
    if d['label']=="True":
      print("A")
      gt_train.add_positive(d['id1'], d['id2'])
    else:
      gt_train.add_negative(d['id1'], d['id2'])

False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A
True
A

In [ ]:
# gt_train, gt_test = gt.train_test_split(test_ratio=0.3)

In [ ]:
# import time

# from sklearn.cluster import KMeans

# start_time = time.time()
# X_km = []
# for id_abt, id_buy, _ in gt_train:
#   r_abt = ds_abt.get_record(id_abt)
#   r_buy = ds_buy.get_record(id_buy)
#   X_km.append(generate_feature_vector(r_abt, r_buy))
# kmeans_model = KMeans(n_clusters=10, random_state=0).fit(X_km)


# def classify(r_abt, r_buy):
#   v = generate_feature_vector(r_abt, r_buy)
#   cluster_id = kmeans_model.predict([v])[0]
#   return cluster_id

# gt_train.generate_stratified_negatives(ds_abt, ds_buy, classify, 10, range_in_gt=True, exclude_from=gt_test)
# end_time = time.time()
# print("Time taken:", (end_time-start_time))
# gt_test.generate_all_negatives(ds_abt, ds_buy, range_in_gt=True, exclude_from=gt_train)
# print("Final Time Taken:", (time.time()-end_time))

Time taken: 357.1446940898895
Final Time Taken: 15.649891376495361

In [ ]:
train_ground_truth_value = gt_train.generate_dataframe()

In [ ]:
train_ground_truth_value['label']

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
Name: label, dtype: bool

In [ ]:
len(train_ground_truth_value)

35

In [ ]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV
import time
import sklearn

start_train = time.time()
# train
X, y = [], []
train_pairs = rltk.get_record_pairs(ds_abt_train, ds_buy_train, ground_truth=gt_train)
for r_abt, r_buy in train_pairs:
  v = generate_feature_vector(r_abt, r_buy)
  X.append(v)
  y.append(gt_train.get_label(r_abt.id, r_buy.id))

clf = svm.SVC(probability=True)
res = 5
clf = GridSearchCV(clf,
                   {'C' : [i / res for i in range(1, res + 1)],
                    'gamma' : [i / (100 * res) for i in range(1, res + 1)]},
                  cv=3)

# clf = sklearn.model_selection.GridSearchCV(
#             estimator=sklearn.linear_model.LogisticRegression(),
#             param_grid={"C": [0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 10]},
#             scoring="f1",
#             n_jobs=-1,
#         )
clf.fit(X, y)
end_train = time.time()
print("Finished training in ", (end_train-start_train))

Finished training in  0.2161262035369873

In [ ]:
ds_abt_test = rltk.Dataset(reader=rltk.CSVReader(open('/content/drive/MyDrive/dedupe_report/21-14/abt_test.csv', encoding='latin-1')),
                   record_class=AbtRecord, adapter=rltk.MemoryKeyValueAdapter())

ds_buy_test = rltk.Dataset(reader=rltk.CSVReader(open('/content/drive/MyDrive/dedupe_report/21-14/buy_test.csv', encoding='latin-1')),
                   record_class=BuyRecord, adapter=rltk.MemoryKeyValueAdapter())

In [ ]:
gt_test = rltk.GroundTruth()
with open('/content/drive/MyDrive/dedupe_report/21-14/test.csv', encoding='latin-1') as f:
  for d in rltk.CSVReader(f): # this can be replace to python csv reader
    if d['label']=="True":
      print("A")
      gt_test.add_positive(d['id1'], d['id2'])
    else:
      gt_test.add_negative(d['id1'], d['id2'])

In [ ]:
test_ground_truth_value = gt_test.generate_dataframe()

In [ ]:
test_ground_truth_value

        id1        id2  label
0     38477   10011646   True
1     38475   10140760   True
2     27248   10246269   True
3     36260   10316920   True
4     35810   10326220   True
...     ...        ...    ...
1453  36124  205593354  False
1454  34724  207534895  False
1455  34724  207666379  False
1456  37192  209656956  False
1457  35900  204222207  False

[1458 rows x 3 columns]

In [ ]:
test_ground_truth_value['label'].value_counts()

True     736
False    722
Name: label, dtype: int64

In [ ]:
for r in ds_abt_test:
  tfidf.add_document(r.id, r.name_tokens)
for r in ds_buy_test:
  tfidf.add_document(r.id, r.name_tokens)
tfidf.pre_compute()

In [ ]:
# test
end_train = time.time()
trial = rltk.Trial(ground_truth=gt_test)
for r_abt, r_buy in rltk.get_record_pairs(ds_abt_test, ds_buy_test, ground_truth=gt_test):
    # ml
  v = generate_feature_vector(r_abt, r_buy)
  vv = clf.predict_proba([v])[0][1]
  trial.add_result(r_abt, r_buy, vv > 0.3,
                    confidence=vv,
                    feature_vector=v)
print("Finished testing:", (time.time()-end_train))

Finished testing: 0.5746119022369385

In [ ]:
trial.run_munkres(threshold=0.3)
trial.evaluate()
print(trial.true_positives, trial.false_positives, trial.true_negatives, trial.false_negatives,
      trial.precision, trial.recall, trial.f_measure)
print('tp:', len(trial.true_positives_list))
print('fp:', len(trial.false_positives_list))
print('tn:', len(trial.true_negatives_list))
print('fn:', len(trial.false_negatives_list))

0.8831521739130435 0.10941828254847645 0.8905817174515236 0.11684782608695653 0.8916323731138546 0.8831521739130435 0.8873720136518771
tp: 650
fp: 79
tn: 643
fn: 86

In [ ]:
import numpy
[int(x) for x in numpy.linspace(start = 200, stop = 2000, num = 10)]

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [ ]:
[int(x) for x in numpy.linspace(10, 110, num = 11)]+[None]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None]

In [ ]:
!pip install pyrallel.lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyrallel.lib
  Downloading pyrallel.lib-0.0.10-py3-none-any.whl (24 kB)
Requirement already satisfied: dill>=0.3 in /usr/local/lib/python3.8/dist-packages (from pyrallel.lib) (0.3.6)
Collecting typing>=3.6
  Downloading typing-3.7.4.3.tar.gz (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.6/78.6 KB 6.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting multiprocess>=0.70
  Downloading multiprocess-0.70.14-py38-none-any.whl (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.0/132.0 KB 14.7 MB/s eta 0:00:00
Building wheels for collected packages: typing
  Building wheel for typing (setup.py) ... done
  Created wheel for typing: filename=typing-3.7.4.3-py3-none-any.whl size=26323 sha256=ef1559781aa48e0bf7f3c1fae032784861b9cd4081b39242ddaf56e6ec336123
  Stored in directory: /root/.cache/pip/wheels/5e/5d/01/3083e091b57809dad979ea543def62d9d878950e3e74f0c930
Successfully built typing
Installing collected packages: typing, multiprocess, pyrallel.lib
Successfully installed multiprocess-0.70.14 pyrallel.lib-0.0.10 typing-3.7.4.3

In [ ]:
import pyrallel
result = []

def heavy_calculation(x, y):
    return x * x, y + 5

def output_handler(r1, r2):
    result.append(r1 if r1 > r2 else r2)

pp = pyrallel.ParallelProcessor(8, mapper=heavy_calculation, collector=output_handler)
pp.start()

for i in range(8):
    pp.add_task(i, i + 1)

pp.task_done()
pp.join()

print(result)

[6, 7, 8, 9, 16, 25, 49, 36]

In [ ]:
{
    1:{
        "field_name_1":"value_1",
        "field_name_2":"value_2",
        "field_name_3":"value_3"
    },
    2:{
        "field_name_1":"value_4",
        "field_name_2":"value_5",
        "field_name_3":"value_6"
    },
 .....
}

In [ ]:
import pandas as pd

d = [
    {"firstname":"Siddhartha","secondname":"Shrestha","birthyear":"2055"},
     {"firstname":"Sid","secondname":"Shrestha","birthyear":"2055"},
     {"firstname":"Arun","secondname":"Ghimire","birthyear":"2055"}
]

df = pd.DataFrame(d)

In [ ]:
df

    firstname secondname birthyear
0  Siddhartha   Shrestha      2055
1         Sid   Shrestha      2055
2        Arun    Ghimire      2055

In [ ]:
d1 = [
    {"firstname":"Siddhartha","secondname":"Shrestha","birthyear":"2055","birthmonth":"11","birthday":"20", "address":"Lalitpur 44600"},
     {"firstname":"Sid","secondname":"Shrestha","birthyear":"2055","birthmonth":"11","birthday":"20", "address":"Lalitpur 44700"},
     {"firstname":"Arun","secondname":"Ghimire","birthyear":"2055","birthmonth":"07","birthday":"16", "address":"Pokhara"}
]

d2 = [
    {'fullname':"Siddhartha Shrestha", "birthdate":"2055-11-20", "city":"Lalitpur","zipcode":"44600"},
    {'fullname':"Shyam Shrestha", "birthdate":"2035-07-01", "city":"Kathmandu","zipcode":"44700"},
    {'fullname':"Arun", "birthdate":"2055-07-16", "city":"Pokhar","zipcode":"33800"}
]
df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

In [ ]:
df1

    firstname secondname birthyear birthmonth birthday         address
0  Siddhartha   Shrestha      2055         11       20  Lalitpur 44600
1         Sid   Shrestha      2055         11       20  Lalitpur 44700
2        Arun    Ghimire      2055         07       16         Pokhara

In [ ]:
df2

              fullname   birthdate       city zipcode
0  Siddhartha Shrestha  2055-11-20   Lalitpur   44600
1       Shyam Shrestha  2035-07-01  Kathmandu   44700
2                 Arun  2055-07-16     Pokhar   33800

In [ ]:
d3 = [
    {"firstname":"Siddhartha","secondname":"Shrestha","birthdate":"2055-11-20", "city":"Lalitpur","zipcode":"44600"},
     {"firstname":"Sid","secondname":"Shrestha","birthdate":"2055-11-20", "city":"Lalitpur","zipcode":"44700"},
     {"firstname":"Arun","secondname":"Ghimire","birthdate":"2055-07-06", "city":"Pokhara","zipcode":None},

]
d4 = [
    {'firstname':"Siddhartha","secondname":"Shrestha", "birthdate":"2055-11-20", "city":"Lalitpur","zipcode":"44600"},
    {'firstname':"Shyam","secondname":"Shrestha", "birthdate":"2035-07-01", "city":"Kathmandu","zipcode":"44700"},
    {'firstname':"Arun","secondname":None, "birthdate":"2055-07-16", "city":"Pokhar","zipcode":"33800"}
]

df3= pd.DataFrame(d3)
df4= pd.DataFrame(d4)

In [ ]:
df3

    firstname secondname   birthdate      city zipcode
0  Siddhartha   Shrestha  2055-11-20  Lalitpur   44600
1         Sid   Shrestha  2055-11-20  Lalitpur   44700
2        Arun    Ghimire  2055-07-06   Pokhara    None

In [ ]:
df4

    firstname secondname   birthdate       city zipcode
0  Siddhartha   Shrestha  2055-11-20   Lalitpur   44600
1       Shyam   Shrestha  2035-07-01  Kathmandu   44700
2        Arun       None  2055-07-16     Pokhar   33800

In [ ]:
pd.DataFrame(columns=['firstname','secondname','birthdate','city','zipcode'])

Empty DataFrame
Columns: [firstname, secondname, birthdate, city, zipcode]
Index: []

In [ ]:
dd= [
    {'field':'firstname','record1':"Siddhartha","record2":"SID"},
     {'field':'secondname','record1':"Shrestha","record2":"srestha"},
     {'field':'address','record1':"Lalipur","record2":"hattiban, lalitpur"},
]

ddf = pd.DataFrame(dd)

In [ ]:
ddf

        field     record1             record2
0   firstname  Siddhartha                 SID
1  secondname    Shrestha             srestha
2     address     Lalipur  hattiban, lalitpur

In [ ]:
dd= [
    {'field':'firstname','record1':"Siddhartha","record2":"Sid", "similarity_score":.65},
     {'field':'secondname','record1':"Shrestha","record2":"srestha","similarity_score":.82},
     {'field':'address','record1':"Lalipur","record2":"hattiban, lalitpur","similarity_score":.8},
]

ddf = pd.DataFrame(dd)

In [ ]:
ddf

        field     record1             record2  similarity_score
0   firstname  Siddhartha                 Sid              0.65
1  secondname    Shrestha             srestha              0.82
2     address     Lalipur  hattiban, lalitpur              0.80